.about-page {
  margin: 25px auto 25px auto;
  -webkit-box-shadow: inset 1px 1px 0 rgba(158,205,215,0.1), 0 0 30px rgba(0,0,0,0.7);
  box-shadow: inset 1px 1px 0 rgba(158,205,215,0.1), 0 0 30px rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,.80);
  border: 1px solid rgb(107, 107, 107);
  padding: 20px;
  width: 750px;
  text-align: left;
}

.about-page h2 {
  font-size: 15px;
  line-height: 20px;
}

.about-page p {
  font-size: 15px;
  line-height: 20px;
  margin-left: 40px;
  margin-bottom: 0;
  margin-top: 0;
}

.about-page span.const {
  color: dodgerblue;
}

.about-page span.prop {
  color: skyblue;
}

.about-page span.literal {
  color: orange;
}

.about-page span.literalNumber {
  color: rgb(253, 51, 253);
}

@media only screen and (max-width: 768px) {
  .about-page {
    width: 100%;
  }

  .about-page p {
    font-size: 17px;
    line-height: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

