.contact-page {
  margin: 25px auto 25px auto;
  -webkit-box-shadow: inset 1px 1px 0 rgba(158,205,215,0.1), 0 0 30px rgba(0,0,0,0.7);
  box-shadow: inset 1px 1px 0 rgba(158,205,215,0.1), 0 0 30px rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,.70);
  border: 1px solid rgb(107, 107, 107);
  width: 750px;
  height: 550px;
}

@media only screen and (max-width: 768px) {
  .contact-page {
    width: 100%;
  }
}