body * {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

html {
  background-image: url('../assets/bg.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background-color: rgba(20, 26, 56, 0.75);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: 100%
  }
}
