html {
  height: 100%;
  background-image: url('../assets/bg.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(24, 30, 63);
}

body * {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App a {
  text-decoration:  none;
  font-size: 16px;
}

span.literal {
  color: cyan;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: 100%
  }
}

/* .github-corner svg {
  position:absolute;
  right:0;
  top:0;
  mix-blend-mode:darken;
  color:#ffffff;
  fill:#000000;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave .56s;
}

@keyframes octocat-wave {
  0%, 100% {
    transform:rotate(0);
  }
  20%, 60% {
    transform:rotate(-20deg);
  }
  40%, 80% {
    transform:rotate(10deg);
  }
} */