.projects-page {
  margin: 25px auto 25px auto;
  -webkit-box-shadow: inset 1px 1px 0 rgba(158,205,215,0.1), 0 0 30px rgba(0,0,0,0.7);
  box-shadow: inset 1px 1px 0 rgba(158,205,215,0.1), 0 0 30px rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,.80);
  border: 1px solid rgb(107, 107, 107);
  padding: 20px;
  width: 750px;
  text-align: left;
  text-overflow: wrap;
}

.projects-page h2 {
  font-size: 15px;
  line-height: 20px;
}

.projects-page span.const {
  color: dodgerblue;
}

.projects-page span.prop {
  color: skyblue;
}

.projects-page span.literal {
  color: orange;
}

.projects-page span.arrow {
  color: dodgerblue;
}

.projects-page span.func {
  color: rgb(213, 238, 99)
}

.projects-page a {
  color: rgb(221, 35, 60);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.10);
  text-decoration: none;
}

.projects-page a:hover {
  color: white;
}


@media only screen and (max-width: 768px) {
  .projects-page {
    width: 100%;
  }

  .projects-page p {
    font-size: 17px;
    line-height: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 376px) {
  .projects-page a {
    width: 165px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

@media only screen and (max-width: 321px) {
  .projects-page a {
    width: 115px;
  }
}